@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Rubik', sans-serif;
    @apply bg-light-bg dark:bg-dark-bg;
  }
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.generic-btn {
  @apply border-2 border-gray-400 rounded-lg px-14 py-4
}

.generic-btn:active {
  @apply border-pink-800
}


.generic-input {  
  @apply bg-white border border-gray-300 dark:border-black text-gray-900 disabled:text-gray-400 text-lg rounded-lg focus:ring-primary-blue focus:border-primary-blue block w-full p-2.5 text-center shadow-sm py-1 dark:text-dark-subtitle
}

.generic-sublabel {
  @apply block font-medium text-lg text-gray-900 dark:text-white
}

.generic-label {
  @apply block my-1 text-sm font-medium text-gray-900 dark:text-white
}

.generic-select {
  @apply w-full border-gray-300 dark:border-black rounded-lg shadow-sm focus:ring-primary-blue disabled:text-gray-400 dark:text-dark-subtitle
}

.colored-text {
  @apply text-black dark:text-white
}

.colored-bg {
  @apply bg-light-bg dark:bg-dark-bg
}

.colored-primary {
  @apply bg-light-primary dark:bg-dark-primary
}

.generic-btn {
  @apply colored-bg border-2 border-primary-blue px-4 py-2 colored-text;
}

.center-icon {
  position: relative;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}

.food-input {
  @apply border-none w-8 outline-none text-center py-0 text-2xl colored-text colored-primary
}


/* SCROLLBAR */

/* total width */
body::-webkit-scrollbar {
  @apply bg-white w-[16px];
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  @apply bg-light-bg dark:bg-dark-bg;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  @apply bg-[#B9B8BB] dark:bg-[#555555] rounded-[16px] border-[6px] border-solid border-light-bg dark:border-dark-bg;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display:none;
}